body {
    font-size: 14px;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

h1 {
    flex-grow: 1;
    text-align: center;
    text-decoration: underline;
    font-size: 5em;
    
}

img {
    width: 80%;
    /* mix-blend-mode: multiply;s */
    display:block;
    margin:auto;
    height: 22em;
}

footer {
    font-size: .70em;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: space-around;
}

.card {
    flex: 1 50%;
    /* width: 30%; */
    box-shadow: 10px 10px 6px #888888;
    margin: 10%;
    margin-top: 2.5em; 
    position: relative;
    border-radius: 4%;
    min-width: 250px;
    

}

.availability {
    background-color: darkgrey;
    font-size: 1.3em;
    color: yellow;
    width: 100%;
    margin-bottom: -0.5em;
    margin-top: 0;
}

.productName {
    text-align: center;
    border: 1px solid lightblue;
    margin-bottom: 1em;
    font-size: 2em;
}

.descriptionText {
    text-align: justify;   
    font-size: .9em;
    padding: 1em;
}

.bold {
    font-weight: bold;
    font-size: .9em;
    margin-left: 1em;
}

.specifications, .pricing {
    padding-left: 1em;

}

.soldOut {
    position: absolute;
    z-index: 2;
    top:5%;
    left: 10%;
}



/*//////////////  MEDIA QUERIES  //////////*/

@media (min-width: 600px) {
    .card {
      flex: 1 40%;
      margin: 5%;
    }
  }

  @media (min-width: 920px) {
    .card {
      flex: 1 25%;
      margin: 2%;
    }
  }